.container{
    text-align: center;
    margin-top: 26px;
    
}
table{

    margin: auto;

}
input{
    font-size: 37 px;
    height: 54px;
    width: 497px;
    border: 4px solid black;
    border-radius: 8px;
}

button{

    font-size: 30px;
    background-color: #ec407a;
    height: 76px;
    width: 122px;
    border-radius: 15px;
    margin: 4px;

}
.coconst{

  display: inline-block;
  background-color: #4dd0e1;
  border: 4px solid black;
  padding: 12px;
  border-radius: 28px;

}